<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AWAD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEFABCBB1C81A80300F2C105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFABCD41C81A80300F2C105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFABCE71C81A92C00F2C105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
